@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-satochi);
}

h1 {
  @apply font-faktum text-6xl font-black tracking-tighter md:text-8xl;
}
h2 {
  @apply font-faktum text-4xl font-black tracking-tighter;
}

h3 {
  @apply font-faktum text-4xl font-black;
}

h4 {
  @apply text-4xl font-bold;
}

p {
  @apply text-sm font-normal text-neutral-500 md:text-lg;
}

/* ANIMATIONS */

/* styles.css */
.transition-border-shadow {
  transition: border-color 300ms ease, box-shadow 300ms ease;
}

/* styles.css */
.svg-transition {
  transition: fill 300ms ease;
}
